.Rproj.user

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# my excluded files
data/raw/splot/*.txt
data/raw/splot/*.xml
data/raw/splot/*.bib
data/processed/data_processed_sites_for_practioners.csv
data/processed/data_processed_sites_for_practioners_metadata.csv
.github/
checklist.yml
data/raw/spatial/bio_fbk_epsg25832_shp.shx
data/raw/spatial/bio_fbk_epsg25832_shp.dbf
data/raw/spatial/bio_fbk_epsg25832_shp.prj
data/raw/spatial/bio_fbk_epsg25832_shp.shp
